		$a-icon-name: 'a-icon';
		$a-icon-x: 251px;
		$a-icon-y: 502px;
		$a-icon-offset-x: -251px;
		$a-icon-offset-y: -502px;
		$a-icon-width: 33px;
		$a-icon-height: 26px;
		$a-icon-total-width: 805px;
		$a-icon-total-height: 746px;
		$a-icon-image: '../images/sprite.png';
		$a-icon: (251px, 502px, -251px, -502px, 33px, 26px, 805px, 746px, '../images/sprite.png', 'a-icon', );
		$all-menu-btn-close-name: 'all-menu-btn-close';
		$all-menu-btn-close-x: 657px;
		$all-menu-btn-close-y: 0px;
		$all-menu-btn-close-offset-x: -657px;
		$all-menu-btn-close-offset-y: 0px;
		$all-menu-btn-close-width: 30px;
		$all-menu-btn-close-height: 30px;
		$all-menu-btn-close-total-width: 805px;
		$all-menu-btn-close-total-height: 746px;
		$all-menu-btn-close-image: '../images/sprite.png';
		$all-menu-btn-close: (657px, 0px, -657px, 0px, 30px, 30px, 805px, 746px, '../images/sprite.png', 'all-menu-btn-close', );
		$all-menu-btn-name: 'all-menu-btn';
		$all-menu-btn-x: 410px;
		$all-menu-btn-y: 502px;
		$all-menu-btn-offset-x: -410px;
		$all-menu-btn-offset-y: -502px;
		$all-menu-btn-width: 23px;
		$all-menu-btn-height: 20px;
		$all-menu-btn-total-width: 805px;
		$all-menu-btn-total-height: 746px;
		$all-menu-btn-image: '../images/sprite.png';
		$all-menu-btn: (410px, 502px, -410px, -502px, 23px, 20px, 805px, 746px, '../images/sprite.png', 'all-menu-btn', );
		$all-menu-close-name: 'all_menu_close';
		$all-menu-close-x: 657px;
		$all-menu-close-y: 80px;
		$all-menu-close-offset-x: -657px;
		$all-menu-close-offset-y: -80px;
		$all-menu-close-width: 30px;
		$all-menu-close-height: 30px;
		$all-menu-close-total-width: 805px;
		$all-menu-close-total-height: 746px;
		$all-menu-close-image: '../images/sprite.png';
		$all-menu-close: (657px, 80px, -657px, -80px, 30px, 30px, 805px, 746px, '../images/sprite.png', 'all_menu_close', );
		$bbs-more-name: 'bbs-more';
		$bbs-more-x: 357px;
		$bbs-more-y: 586px;
		$bbs-more-offset-x: -357px;
		$bbs-more-offset-y: -586px;
		$bbs-more-width: 16px;
		$bbs-more-height: 16px;
		$bbs-more-total-width: 805px;
		$bbs-more-total-height: 746px;
		$bbs-more-image: '../images/sprite.png';
		$bbs-more: (357px, 586px, -357px, -586px, 16px, 16px, 805px, 746px, '../images/sprite.png', 'bbs-more', );
		$check-type-name: 'check-type';
		$check-type-x: 186px;
		$check-type-y: 664px;
		$check-type-offset-x: -186px;
		$check-type-offset-y: -664px;
		$check-type-width: 12px;
		$check-type-height: 9px;
		$check-type-total-width: 805px;
		$check-type-total-height: 746px;
		$check-type-image: '../images/sprite.png';
		$check-type: (186px, 664px, -186px, -664px, 12px, 9px, 805px, 746px, '../images/sprite.png', 'check-type', );
		$check-type2-on-name: 'check-type2-on';
		$check-type2-on-x: 737px;
		$check-type2-on-y: 316px;
		$check-type2-on-offset-x: -737px;
		$check-type2-on-offset-y: -316px;
		$check-type2-on-width: 12px;
		$check-type2-on-height: 12px;
		$check-type2-on-total-width: 805px;
		$check-type2-on-total-height: 746px;
		$check-type2-on-image: '../images/sprite.png';
		$check-type2-on: (737px, 316px, -737px, -316px, 12px, 12px, 805px, 746px, '../images/sprite.png', 'check-type2-on', );
		$check-type2-name: 'check-type2';
		$check-type2-x: 737px;
		$check-type2-y: 378px;
		$check-type2-offset-x: -737px;
		$check-type2-offset-y: -378px;
		$check-type2-width: 12px;
		$check-type2-height: 12px;
		$check-type2-total-width: 805px;
		$check-type2-total-height: 746px;
		$check-type2-image: '../images/sprite.png';
		$check-type2: (737px, 378px, -737px, -378px, 12px, 12px, 805px, 746px, '../images/sprite.png', 'check-type2', );
		$check-type3-on-name: 'check-type3-on';
		$check-type3-on-x: 737px;
		$check-type3-on-y: 564px;
		$check-type3-on-offset-x: -737px;
		$check-type3-on-offset-y: -564px;
		$check-type3-on-width: 13px;
		$check-type3-on-height: 11px;
		$check-type3-on-total-width: 805px;
		$check-type3-on-total-height: 746px;
		$check-type3-on-image: '../images/sprite.png';
		$check-type3-on: (737px, 564px, -737px, -564px, 13px, 11px, 805px, 746px, '../images/sprite.png', 'check-type3-on', );
		$confirm-name: 'confirm';
		$confirm-x: 101px;
		$confirm-y: 185px;
		$confirm-offset-x: -101px;
		$confirm-offset-y: -185px;
		$confirm-width: 49px;
		$confirm-height: 71px;
		$confirm-total-width: 805px;
		$confirm-total-height: 746px;
		$confirm-image: '../images/sprite.png';
		$confirm: (101px, 185px, -101px, -185px, 49px, 71px, 805px, 746px, '../images/sprite.png', 'confirm', );
		$copy-li-bg-name: 'copy_li_bg';
		$copy-li-bg-x: 800px;
		$copy-li-bg-y: 180px;
		$copy-li-bg-offset-x: -800px;
		$copy-li-bg-offset-y: -180px;
		$copy-li-bg-width: 1px;
		$copy-li-bg-height: 13px;
		$copy-li-bg-total-width: 805px;
		$copy-li-bg-total-height: 746px;
		$copy-li-bg-image: '../images/sprite.png';
		$copy-li-bg: (800px, 180px, -800px, -180px, 1px, 13px, 805px, 746px, '../images/sprite.png', 'copy_li_bg', );
		$copy-li-bg2-name: 'copy_li_bg2';
		$copy-li-bg2-x: 800px;
		$copy-li-bg2-y: 0px;
		$copy-li-bg2-offset-x: -800px;
		$copy-li-bg2-offset-y: 0px;
		$copy-li-bg2-width: 5px;
		$copy-li-bg2-height: 10px;
		$copy-li-bg2-total-width: 805px;
		$copy-li-bg2-total-height: 746px;
		$copy-li-bg2-image: '../images/sprite.png';
		$copy-li-bg2: (800px, 0px, -800px, 0px, 5px, 10px, 805px, 746px, '../images/sprite.png', 'copy_li_bg2', );
		$down-icon1-name: 'down-icon1';
		$down-icon1-x: 737px;
		$down-icon1-y: 625px;
		$down-icon1-offset-x: -737px;
		$down-icon1-offset-y: -625px;
		$down-icon1-width: 9px;
		$down-icon1-height: 13px;
		$down-icon1-total-width: 805px;
		$down-icon1-total-height: 746px;
		$down-icon1-image: '../images/sprite.png';
		$down-icon1: (737px, 625px, -737px, -625px, 9px, 13px, 805px, 746px, '../images/sprite.png', 'down-icon1', );
		$down-icon2-name: 'down-icon2';
		$down-icon2-x: 127px;
		$down-icon2-y: 664px;
		$down-icon2-offset-x: -127px;
		$down-icon2-offset-y: -664px;
		$down-icon2-width: 9px;
		$down-icon2-height: 13px;
		$down-icon2-total-width: 805px;
		$down-icon2-total-height: 746px;
		$down-icon2-image: '../images/sprite.png';
		$down-icon2: (127px, 664px, -127px, -664px, 9px, 13px, 805px, 746px, '../images/sprite.png', 'down-icon2', );
		$foot-img-name: 'foot_img';
		$foot-img-x: 0px;
		$foot-img-y: 95px;
		$foot-img-offset-x: 0px;
		$foot-img-offset-y: -95px;
		$foot-img-width: 173px;
		$foot-img-height: 40px;
		$foot-img-total-width: 805px;
		$foot-img-total-height: 746px;
		$foot-img-image: '../images/sprite.png';
		$foot-img: (0px, 95px, 0px, -95px, 173px, 40px, 805px, 746px, '../images/sprite.png', 'foot_img', );
		$footer-select-bul-name: 'footer-select-bul';
		$footer-select-bul-x: 423px;
		$footer-select-bul-y: 586px;
		$footer-select-bul-offset-x: -423px;
		$footer-select-bul-offset-y: -586px;
		$footer-select-bul-width: 23px;
		$footer-select-bul-height: 8px;
		$footer-select-bul-total-width: 805px;
		$footer-select-bul-total-height: 746px;
		$footer-select-bul-image: '../images/sprite.png';
		$footer-select-bul: (423px, 586px, -423px, -586px, 23px, 8px, 805px, 746px, '../images/sprite.png', 'footer-select-bul', );
		$h3-type1-name: 'h3-type1';
		$h3-type1-x: 240px;
		$h3-type1-y: 122px;
		$h3-type1-offset-x: -240px;
		$h3-type1-offset-y: -122px;
		$h3-type1-width: 50px;
		$h3-type1-height: 4px;
		$h3-type1-total-width: 805px;
		$h3-type1-total-height: 746px;
		$h3-type1-image: '../images/sprite.png';
		$h3-type1: (240px, 122px, -240px, -122px, 50px, 4px, 805px, 746px, '../images/sprite.png', 'h3-type1', );
		$h4-bul-name: 'h4-bul';
		$h4-bul-x: 800px;
		$h4-bul-y: 582px;
		$h4-bul-offset-x: -800px;
		$h4-bul-offset-y: -582px;
		$h4-bul-width: 3px;
		$h4-bul-height: 3px;
		$h4-bul-total-width: 805px;
		$h4-bul-total-height: 746px;
		$h4-bul-image: '../images/sprite.png';
		$h4-bul: (800px, 582px, -800px, -582px, 3px, 3px, 805px, 746px, '../images/sprite.png', 'h4-bul', );
		$header-search-btn-name: 'header-search-btn';
		$header-search-btn-x: 378px;
		$header-search-btn-y: 212px;
		$header-search-btn-offset-x: -378px;
		$header-search-btn-offset-y: -212px;
		$header-search-btn-width: 45px;
		$header-search-btn-height: 45px;
		$header-search-btn-total-width: 805px;
		$header-search-btn-total-height: 746px;
		$header-search-btn-image: '../images/sprite.png';
		$header-search-btn: (378px, 212px, -378px, -212px, 45px, 45px, 805px, 746px, '../images/sprite.png', 'header-search-btn', );
		$home-name: 'home';
		$home-x: 737px;
		$home-y: 254px;
		$home-offset-x: -737px;
		$home-offset-y: -254px;
		$home-width: 13px;
		$home-height: 12px;
		$home-total-width: 805px;
		$home-total-height: 746px;
		$home-image: '../images/sprite.png';
		$home: (737px, 254px, -737px, -254px, 13px, 12px, 805px, 746px, '../images/sprite.png', 'home', );
		$home02-name: 'home02';
		$home02-x: 737px;
		$home02-y: 0px;
		$home02-offset-x: -737px;
		$home02-offset-y: 0px;
		$home02-width: 13px;
		$home02-height: 15px;
		$home02-total-width: 805px;
		$home02-total-height: 746px;
		$home02-image: '../images/sprite.png';
		$home02: (737px, 0px, -737px, 0px, 13px, 15px, 805px, 746px, '../images/sprite.png', 'home02', );
		$ico-roll-left-name: 'ico-roll-left';
		$ico-roll-left-x: 657px;
		$ico-roll-left-y: 324px;
		$ico-roll-left-offset-x: -657px;
		$ico-roll-left-offset-y: -324px;
		$ico-roll-left-width: 28px;
		$ico-roll-left-height: 28px;
		$ico-roll-left-total-width: 805px;
		$ico-roll-left-total-height: 746px;
		$ico-roll-left-image: '../images/sprite.png';
		$ico-roll-left: (657px, 324px, -657px, -324px, 28px, 28px, 805px, 746px, '../images/sprite.png', 'ico-roll-left', );
		$ico-roll-pause-name: 'ico-roll-pause';
		$ico-roll-pause-x: 657px;
		$ico-roll-pause-y: 402px;
		$ico-roll-pause-offset-x: -657px;
		$ico-roll-pause-offset-y: -402px;
		$ico-roll-pause-width: 28px;
		$ico-roll-pause-height: 28px;
		$ico-roll-pause-total-width: 805px;
		$ico-roll-pause-total-height: 746px;
		$ico-roll-pause-image: '../images/sprite.png';
		$ico-roll-pause: (657px, 402px, -657px, -402px, 28px, 28px, 805px, 746px, '../images/sprite.png', 'ico-roll-pause', );
		$ico-roll-plus-name: 'ico-roll-plus';
		$ico-roll-plus-x: 657px;
		$ico-roll-plus-y: 480px;
		$ico-roll-plus-offset-x: -657px;
		$ico-roll-plus-offset-y: -480px;
		$ico-roll-plus-width: 28px;
		$ico-roll-plus-height: 28px;
		$ico-roll-plus-total-width: 805px;
		$ico-roll-plus-total-height: 746px;
		$ico-roll-plus-image: '../images/sprite.png';
		$ico-roll-plus: (657px, 480px, -657px, -480px, 28px, 28px, 805px, 746px, '../images/sprite.png', 'ico-roll-plus', );
		$ico-roll-right-name: 'ico-roll-right';
		$ico-roll-right-x: 0px;
		$ico-roll-right-y: 586px;
		$ico-roll-right-offset-x: 0px;
		$ico-roll-right-offset-y: -586px;
		$ico-roll-right-width: 28px;
		$ico-roll-right-height: 28px;
		$ico-roll-right-total-width: 805px;
		$ico-roll-right-total-height: 746px;
		$ico-roll-right-image: '../images/sprite.png';
		$ico-roll-right: (0px, 586px, 0px, -586px, 28px, 28px, 805px, 746px, '../images/sprite.png', 'ico-roll-right', );
		$ico-roll-start-name: 'ico-roll-start';
		$ico-roll-start-x: 334px;
		$ico-roll-start-y: 502px;
		$ico-roll-start-offset-x: -334px;
		$ico-roll-start-offset-y: -502px;
		$ico-roll-start-width: 26px;
		$ico-roll-start-height: 25px;
		$ico-roll-start-total-width: 805px;
		$ico-roll-start-total-height: 746px;
		$ico-roll-start-image: '../images/sprite.png';
		$ico-roll-start: (334px, 502px, -334px, -502px, 26px, 25px, 805px, 746px, '../images/sprite.png', 'ico-roll-start', );
		$icon-print-name: 'icon-print';
		$icon-print-x: 113px;
		$icon-print-y: 308px;
		$icon-print-offset-x: -113px;
		$icon-print-offset-y: -308px;
		$icon-print-width: 40px;
		$icon-print-height: 40px;
		$icon-print-total-width: 805px;
		$icon-print-total-height: 746px;
		$icon-print-image: '../images/sprite.png';
		$icon-print: (113px, 308px, -113px, -308px, 40px, 40px, 805px, 746px, '../images/sprite.png', 'icon-print', );
		$icon-url-name: 'icon-url';
		$icon-url-x: 203px;
		$icon-url-y: 308px;
		$icon-url-offset-x: -203px;
		$icon-url-offset-y: -308px;
		$icon-url-width: 40px;
		$icon-url-height: 40px;
		$icon-url-total-width: 805px;
		$icon-url-total-height: 746px;
		$icon-url-image: '../images/sprite.png';
		$icon-url: (203px, 308px, -203px, -308px, 40px, 40px, 805px, 746px, '../images/sprite.png', 'icon-url', );
		$info-icon-name: 'info-icon';
		$info-icon-x: 0px;
		$info-icon-y: 664px;
		$info-icon-offset-x: 0px;
		$info-icon-offset-y: -664px;
		$info-icon-width: 13px;
		$info-icon-height: 21px;
		$info-icon-total-width: 805px;
		$info-icon-total-height: 746px;
		$info-icon-image: '../images/sprite.png';
		$info-icon: (0px, 664px, 0px, -664px, 13px, 21px, 805px, 746px, '../images/sprite.png', 'info-icon', );
		$join-icon-1-name: 'join-icon-1';
		$join-icon-1-x: 0px;
		$join-icon-1-y: 185px;
		$join-icon-1-offset-x: 0px;
		$join-icon-1-offset-y: -185px;
		$join-icon-1-width: 51px;
		$join-icon-1-height: 73px;
		$join-icon-1-total-width: 805px;
		$join-icon-1-total-height: 746px;
		$join-icon-1-image: '../images/sprite.png';
		$join-icon-1: (0px, 185px, 0px, -185px, 51px, 73px, 805px, 746px, '../images/sprite.png', 'join-icon-1', );
		$join-icon-2-name: 'join-icon-2';
		$join-icon-2-x: 240px;
		$join-icon-2-y: 0px;
		$join-icon-2-offset-x: -240px;
		$join-icon-2-offset-y: 0px;
		$join-icon-2-width: 88px;
		$join-icon-2-height: 72px;
		$join-icon-2-total-width: 805px;
		$join-icon-2-total-height: 746px;
		$join-icon-2-image: '../images/sprite.png';
		$join-icon-2: (240px, 0px, -240px, 0px, 88px, 72px, 805px, 746px, '../images/sprite.png', 'join-icon-2', );
		$join-step-next-name: 'join-step-next';
		$join-step-next-x: 574px;
		$join-step-next-y: 586px;
		$join-step-next-offset-x: -574px;
		$join-step-next-offset-y: -586px;
		$join-step-next-width: 13px;
		$join-step-next-height: 1px;
		$join-step-next-total-width: 805px;
		$join-step-next-total-height: 746px;
		$join-step-next-image: '../images/sprite.png';
		$join-step-next: (574px, 586px, -574px, -586px, 13px, 1px, 805px, 746px, '../images/sprite.png', 'join-step-next', );
		$join-step-now-name: 'join-step-now';
		$join-step-now-x: 737px;
		$join-step-now-y: 65px;
		$join-step-now-offset-x: -737px;
		$join-step-now-offset-y: -65px;
		$join-step-now-width: 13px;
		$join-step-now-height: 13px;
		$join-step-now-total-width: 805px;
		$join-step-now-total-height: 746px;
		$join-step-now-image: '../images/sprite.png';
		$join-step-now: (737px, 65px, -737px, -65px, 13px, 13px, 805px, 746px, '../images/sprite.png', 'join-step-now', );
		$list-bul-name: 'list-bul';
		$list-bul-x: 800px;
		$list-bul-y: 478px;
		$list-bul-offset-x: -800px;
		$list-bul-offset-y: -478px;
		$list-bul-width: 5px;
		$list-bul-height: 2px;
		$list-bul-total-width: 805px;
		$list-bul-total-height: 746px;
		$list-bul-image: '../images/sprite.png';
		$list-bul: (800px, 478px, -800px, -478px, 5px, 2px, 805px, 746px, '../images/sprite.png', 'list-bul', );
		$list-bul2-name: 'list-bul2';
		$list-bul2-x: 612px;
		$list-bul2-y: 664px;
		$list-bul2-offset-x: -612px;
		$list-bul2-offset-y: -664px;
		$list-bul2-width: 2px;
		$list-bul2-height: 2px;
		$list-bul2-total-width: 805px;
		$list-bul2-total-height: 746px;
		$list-bul2-image: '../images/sprite.png';
		$list-bul2: (612px, 664px, -612px, -664px, 2px, 2px, 805px, 746px, '../images/sprite.png', 'list-bul2', );
		$location-icon-name: 'location-icon';
		$location-icon-x: 800px;
		$location-icon-y: 301px;
		$location-icon-offset-x: -800px;
		$location-icon-offset-y: -301px;
		$location-icon-width: 4px;
		$location-icon-height: 7px;
		$location-icon-total-width: 805px;
		$location-icon-total-height: 746px;
		$location-icon-image: '../images/sprite.png';
		$location-icon: (800px, 301px, -800px, -301px, 4px, 7px, 805px, 746px, '../images/sprite.png', 'location-icon', );
		$location-icon2-name: 'location-icon2';
		$location-icon2-x: 0px;
		$location-icon2-y: 735px;
		$location-icon2-offset-x: 0px;
		$location-icon2-offset-y: -735px;
		$location-icon2-width: 6px;
		$location-icon2-height: 11px;
		$location-icon2-total-width: 805px;
		$location-icon2-total-height: 746px;
		$location-icon2-image: '../images/sprite.png';
		$location-icon2: (0px, 735px, 0px, -735px, 6px, 11px, 805px, 746px, '../images/sprite.png', 'location-icon2', );
		$login-bul-name: 'login-bul';
		$login-bul-x: 800px;
		$login-bul-y: 358px;
		$login-bul-offset-x: -800px;
		$login-bul-offset-y: -358px;
		$login-bul-width: 1px;
		$login-bul-height: 10px;
		$login-bul-total-width: 805px;
		$login-bul-total-height: 746px;
		$login-bul-image: '../images/sprite.png';
		$login-bul: (800px, 358px, -800px, -358px, 1px, 10px, 805px, 746px, '../images/sprite.png', 'login-bul', );
		$main-visual-next-name: 'main-visual-next';
		$main-visual-next-x: 484px;
		$main-visual-next-y: 0px;
		$main-visual-next-offset-x: -484px;
		$main-visual-next-offset-y: 0px;
		$main-visual-next-width: 37px;
		$main-visual-next-height: 73px;
		$main-visual-next-total-width: 805px;
		$main-visual-next-total-height: 746px;
		$main-visual-next-image: '../images/sprite.png';
		$main-visual-next: (484px, 0px, -484px, 0px, 37px, 73px, 805px, 746px, '../images/sprite.png', 'main-visual-next', );
		$main-visual-prev-name: 'main-visual-prev';
		$main-visual-prev-x: 484px;
		$main-visual-prev-y: 123px;
		$main-visual-prev-offset-x: -484px;
		$main-visual-prev-offset-y: -123px;
		$main-visual-prev-width: 37px;
		$main-visual-prev-height: 73px;
		$main-visual-prev-total-width: 805px;
		$main-visual-prev-total-height: 746px;
		$main-visual-prev-image: '../images/sprite.png';
		$main-visual-prev: (484px, 123px, -484px, -123px, 37px, 73px, 805px, 746px, '../images/sprite.png', 'main-visual-prev', );
		$menu-open-name: 'menu_open';
		$menu-open-x: 200px;
		$menu-open-y: 185px;
		$menu-open-offset-x: -200px;
		$menu-open-offset-y: -185px;
		$menu-open-width: 56px;
		$menu-open-height: 56px;
		$menu-open-total-width: 805px;
		$menu-open-total-height: 746px;
		$menu-open-image: '../images/sprite.png';
		$menu-open: (200px, 185px, -200px, -185px, 56px, 56px, 805px, 746px, '../images/sprite.png', 'menu_open', );
		$menu-search-name: 'menu_search';
		$menu-search-x: 378px;
		$menu-search-y: 0px;
		$menu-search-offset-x: -378px;
		$menu-search-offset-y: 0px;
		$menu-search-width: 56px;
		$menu-search-height: 56px;
		$menu-search-total-width: 805px;
		$menu-search-total-height: 746px;
		$menu-search-image: '../images/sprite.png';
		$menu-search: (378px, 0px, -378px, 0px, 56px, 56px, 805px, 746px, '../images/sprite.png', 'menu_search', );
		$mobile-bul-minus-name: 'mobile-bul-minus';
		$mobile-bul-minus-x: 496px;
		$mobile-bul-minus-y: 586px;
		$mobile-bul-minus-offset-x: -496px;
		$mobile-bul-minus-offset-y: -586px;
		$mobile-bul-minus-width: 28px;
		$mobile-bul-minus-height: 2px;
		$mobile-bul-minus-total-width: 805px;
		$mobile-bul-minus-total-height: 746px;
		$mobile-bul-minus-image: '../images/sprite.png';
		$mobile-bul-minus: (496px, 586px, -496px, -586px, 28px, 2px, 805px, 746px, '../images/sprite.png', 'mobile-bul-minus', );
		$mobile-bul-plus-name: 'mobile-bul-plus';
		$mobile-bul-plus-x: 78px;
		$mobile-bul-plus-y: 586px;
		$mobile-bul-plus-offset-x: -78px;
		$mobile-bul-plus-offset-y: -586px;
		$mobile-bul-plus-width: 28px;
		$mobile-bul-plus-height: 28px;
		$mobile-bul-plus-total-width: 805px;
		$mobile-bul-plus-total-height: 746px;
		$mobile-bul-plus-image: '../images/sprite.png';
		$mobile-bul-plus: (78px, 586px, -78px, -586px, 28px, 28px, 805px, 746px, '../images/sprite.png', 'mobile-bul-plus', );
		$mobile-close-name: 'mobile-close';
		$mobile-close-x: 378px;
		$mobile-close-y: 106px;
		$mobile-close-offset-x: -378px;
		$mobile-close-offset-y: -106px;
		$mobile-close-width: 56px;
		$mobile-close-height: 56px;
		$mobile-close-total-width: 805px;
		$mobile-close-total-height: 746px;
		$mobile-close-image: '../images/sprite.png';
		$mobile-close: (378px, 106px, -378px, -106px, 56px, 56px, 805px, 746px, '../images/sprite.png', 'mobile-close', );
		$nav-3rd-bul-name: 'nav-3rd-bul';
		$nav-3rd-bul-x: 372px;
		$nav-3rd-bul-y: 664px;
		$nav-3rd-bul-offset-x: -372px;
		$nav-3rd-bul-offset-y: -664px;
		$nav-3rd-bul-width: 12px;
		$nav-3rd-bul-height: 4px;
		$nav-3rd-bul-total-width: 805px;
		$nav-3rd-bul-total-height: 746px;
		$nav-3rd-bul-image: '../images/sprite.png';
		$nav-3rd-bul: (372px, 664px, -372px, -664px, 12px, 4px, 805px, 746px, '../images/sprite.png', 'nav-3rd-bul', );
		$newsns-b-on-name: 'newsns-b-on';
		$newsns-b-on-x: 484px;
		$newsns-b-on-y: 246px;
		$newsns-b-on-offset-x: -484px;
		$newsns-b-on-offset-y: -246px;
		$newsns-b-on-width: 36px;
		$newsns-b-on-height: 36px;
		$newsns-b-on-total-width: 805px;
		$newsns-b-on-total-height: 746px;
		$newsns-b-on-image: '../images/sprite.png';
		$newsns-b-on: (484px, 246px, -484px, -246px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-b-on', );
		$newsns-b-name: 'newsns-b';
		$newsns-b-x: 196px;
		$newsns-b-y: 404px;
		$newsns-b-offset-x: -196px;
		$newsns-b-offset-y: -404px;
		$newsns-b-width: 36px;
		$newsns-b-height: 36px;
		$newsns-b-total-width: 805px;
		$newsns-b-total-height: 746px;
		$newsns-b-image: '../images/sprite.png';
		$newsns-b: (196px, 404px, -196px, -404px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-b', );
		$newsns-f-on-name: 'newsns-f-on';
		$newsns-f-on-x: 282px;
		$newsns-f-on-y: 404px;
		$newsns-f-on-offset-x: -282px;
		$newsns-f-on-offset-y: -404px;
		$newsns-f-on-width: 36px;
		$newsns-f-on-height: 36px;
		$newsns-f-on-total-width: 805px;
		$newsns-f-on-total-height: 746px;
		$newsns-f-on-image: '../images/sprite.png';
		$newsns-f-on: (282px, 404px, -282px, -404px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-f-on', );
		$newsns-f-name: 'newsns-f';
		$newsns-f-x: 368px;
		$newsns-f-y: 404px;
		$newsns-f-offset-x: -368px;
		$newsns-f-offset-y: -404px;
		$newsns-f-width: 36px;
		$newsns-f-height: 36px;
		$newsns-f-total-width: 805px;
		$newsns-f-total-height: 746px;
		$newsns-f-image: '../images/sprite.png';
		$newsns-f: (368px, 404px, -368px, -404px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-f', );
		$newsns-ks-on-name: 'newsns-ks-on';
		$newsns-ks-on-x: 454px;
		$newsns-ks-on-y: 404px;
		$newsns-ks-on-offset-x: -454px;
		$newsns-ks-on-offset-y: -404px;
		$newsns-ks-on-width: 36px;
		$newsns-ks-on-height: 36px;
		$newsns-ks-on-total-width: 805px;
		$newsns-ks-on-total-height: 746px;
		$newsns-ks-on-image: '../images/sprite.png';
		$newsns-ks-on: (454px, 404px, -454px, -404px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-ks-on', );
		$newsns-ks-name: 'newsns-ks';
		$newsns-ks-x: 571px;
		$newsns-ks-y: 0px;
		$newsns-ks-offset-x: -571px;
		$newsns-ks-offset-y: 0px;
		$newsns-ks-width: 36px;
		$newsns-ks-height: 36px;
		$newsns-ks-total-width: 805px;
		$newsns-ks-total-height: 746px;
		$newsns-ks-image: '../images/sprite.png';
		$newsns-ks: (571px, 0px, -571px, 0px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-ks', );
		$newsns-kt-on-name: 'newsns-kt-on';
		$newsns-kt-on-x: 571px;
		$newsns-kt-on-y: 86px;
		$newsns-kt-on-offset-x: -571px;
		$newsns-kt-on-offset-y: -86px;
		$newsns-kt-on-width: 36px;
		$newsns-kt-on-height: 36px;
		$newsns-kt-on-total-width: 805px;
		$newsns-kt-on-total-height: 746px;
		$newsns-kt-on-image: '../images/sprite.png';
		$newsns-kt-on: (571px, 86px, -571px, -86px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-kt-on', );
		$newsns-kt-name: 'newsns-kt';
		$newsns-kt-x: 571px;
		$newsns-kt-y: 172px;
		$newsns-kt-offset-x: -571px;
		$newsns-kt-offset-y: -172px;
		$newsns-kt-width: 36px;
		$newsns-kt-height: 36px;
		$newsns-kt-total-width: 805px;
		$newsns-kt-total-height: 746px;
		$newsns-kt-image: '../images/sprite.png';
		$newsns-kt: (571px, 172px, -571px, -172px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-kt', );
		$newsns-tw-on-name: 'newsns-tw-on';
		$newsns-tw-on-x: 571px;
		$newsns-tw-on-y: 258px;
		$newsns-tw-on-offset-x: -571px;
		$newsns-tw-on-offset-y: -258px;
		$newsns-tw-on-width: 36px;
		$newsns-tw-on-height: 36px;
		$newsns-tw-on-total-width: 805px;
		$newsns-tw-on-total-height: 746px;
		$newsns-tw-on-image: '../images/sprite.png';
		$newsns-tw-on: (571px, 258px, -571px, -258px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-tw-on', );
		$newsns-tw-name: 'newsns-tw';
		$newsns-tw-x: 571px;
		$newsns-tw-y: 344px;
		$newsns-tw-offset-x: -571px;
		$newsns-tw-offset-y: -344px;
		$newsns-tw-width: 36px;
		$newsns-tw-height: 36px;
		$newsns-tw-total-width: 805px;
		$newsns-tw-total-height: 746px;
		$newsns-tw-image: '../images/sprite.png';
		$newsns-tw: (571px, 344px, -571px, -344px, 36px, 36px, 805px, 746px, '../images/sprite.png', 'newsns-tw', );
		$open-close-name: 'open-close';
		$open-close-x: 56px;
		$open-close-y: 735px;
		$open-close-offset-x: -56px;
		$open-close-offset-y: -735px;
		$open-close-width: 8px;
		$open-close-height: 8px;
		$open-close-total-width: 805px;
		$open-close-total-height: 746px;
		$open-close-image: '../images/sprite.png';
		$open-close: (56px, 735px, -56px, -735px, 8px, 8px, 805px, 746px, '../images/sprite.png', 'open-close', );
		$open-done-name: 'open-done';
		$open-done-x: 496px;
		$open-done-y: 664px;
		$open-done-offset-x: -496px;
		$open-done-offset-y: -664px;
		$open-done-width: 8px;
		$open-done-height: 2px;
		$open-done-total-width: 805px;
		$open-done-total-height: 746px;
		$open-done-image: '../images/sprite.png';
		$open-done: (496px, 664px, -496px, -664px, 8px, 2px, 805px, 746px, '../images/sprite.png', 'open-done', );
		$open-icon-name: 'open-icon';
		$open-icon-x: 248px;
		$open-icon-y: 664px;
		$open-icon-offset-x: -248px;
		$open-icon-offset-y: -664px;
		$open-icon-width: 12px;
		$open-icon-height: 7px;
		$open-icon-total-width: 805px;
		$open-icon-total-height: 746px;
		$open-icon-image: '../images/sprite.png';
		$open-icon: (248px, 664px, -248px, -664px, 12px, 7px, 805px, 746px, '../images/sprite.png', 'open-icon', );
		$open-icon2-name: 'open-icon2';
		$open-icon2-x: 310px;
		$open-icon2-y: 664px;
		$open-icon2-offset-x: -310px;
		$open-icon2-offset-y: -664px;
		$open-icon2-width: 12px;
		$open-icon2-height: 7px;
		$open-icon2-total-width: 805px;
		$open-icon2-total-height: 746px;
		$open-icon2-image: '../images/sprite.png';
		$open-icon2: (310px, 664px, -310px, -664px, 12px, 7px, 805px, 746px, '../images/sprite.png', 'open-icon2', );
		$q-icon-name: 'q-icon';
		$q-icon-x: 167px;
		$q-icon-y: 502px;
		$q-icon-offset-x: -167px;
		$q-icon-offset-y: -502px;
		$q-icon-width: 34px;
		$q-icon-height: 27px;
		$q-icon-total-width: 805px;
		$q-icon-total-height: 746px;
		$q-icon-image: '../images/sprite.png';
		$q-icon: (167px, 502px, -167px, -502px, 34px, 27px, 805px, 746px, '../images/sprite.png', 'q-icon', );
		$radio-off-name: 'radio-off';
		$radio-off-x: 737px;
		$radio-off-y: 440px;
		$radio-off-offset-x: -737px;
		$radio-off-offset-y: -440px;
		$radio-off-width: 12px;
		$radio-off-height: 12px;
		$radio-off-total-width: 805px;
		$radio-off-total-height: 746px;
		$radio-off-image: '../images/sprite.png';
		$radio-off: (737px, 440px, -737px, -440px, 12px, 12px, 805px, 746px, '../images/sprite.png', 'radio-off', );
		$radio-on-name: 'radio-on';
		$radio-on-x: 737px;
		$radio-on-y: 502px;
		$radio-on-offset-x: -737px;
		$radio-on-offset-y: -502px;
		$radio-on-width: 12px;
		$radio-on-height: 12px;
		$radio-on-total-width: 805px;
		$radio-on-total-height: 746px;
		$radio-on-image: '../images/sprite.png';
		$radio-on: (737px, 502px, -737px, -502px, 12px, 12px, 805px, 746px, '../images/sprite.png', 'radio-on', );
		$radio-type-off-name: 'radio-type-off';
		$radio-type-off-x: 737px;
		$radio-type-off-y: 128px;
		$radio-type-off-offset-x: -737px;
		$radio-type-off-offset-y: -128px;
		$radio-type-off-width: 13px;
		$radio-type-off-height: 13px;
		$radio-type-off-total-width: 805px;
		$radio-type-off-total-height: 746px;
		$radio-type-off-image: '../images/sprite.png';
		$radio-type-off: (737px, 128px, -737px, -128px, 13px, 13px, 805px, 746px, '../images/sprite.png', 'radio-type-off', );
		$radio-type-on-name: 'radio-type-on';
		$radio-type-on-x: 737px;
		$radio-type-on-y: 191px;
		$radio-type-on-offset-x: -737px;
		$radio-type-on-offset-y: -191px;
		$radio-type-on-width: 13px;
		$radio-type-on-height: 13px;
		$radio-type-on-total-width: 805px;
		$radio-type-on-total-height: 746px;
		$radio-type-on-image: '../images/sprite.png';
		$radio-type-on: (737px, 191px, -737px, -191px, 13px, 13px, 805px, 746px, '../images/sprite.png', 'radio-type-on', );
		$search-btn-name: 'search-btn';
		$search-btn-x: 0px;
		$search-btn-y: 502px;
		$search-btn-offset-x: 0px;
		$search-btn-offset-y: -502px;
		$search-btn-width: 34px;
		$search-btn-height: 34px;
		$search-btn-total-width: 805px;
		$search-btn-total-height: 746px;
		$search-btn-image: '../images/sprite.png';
		$search-btn: (0px, 502px, 0px, -502px, 34px, 34px, 805px, 746px, '../images/sprite.png', 'search-btn', );
		$search-close-name: 'search-close';
		$search-close-x: 84px;
		$search-close-y: 502px;
		$search-close-offset-x: -84px;
		$search-close-offset-y: -502px;
		$search-close-width: 33px;
		$search-close-height: 33px;
		$search-close-total-width: 805px;
		$search-close-total-height: 746px;
		$search-close-image: '../images/sprite.png';
		$search-close: (84px, 502px, -84px, -502px, 33px, 33px, 805px, 746px, '../images/sprite.png', 'search-close', );
		$second-menu-name: 'second-menu';
		$second-menu-x: 800px;
		$second-menu-y: 635px;
		$second-menu-offset-x: -800px;
		$second-menu-offset-y: -635px;
		$second-menu-width: 3px;
		$second-menu-height: 3px;
		$second-menu-total-width: 805px;
		$second-menu-total-height: 746px;
		$second-menu-image: '../images/sprite.png';
		$second-menu: (800px, 635px, -800px, -635px, 3px, 3px, 805px, 746px, '../images/sprite.png', 'second-menu', );
		$select-bul-name: 'select-bul';
		$select-bul-x: 172px;
		$select-bul-y: 735px;
		$select-bul-offset-x: -172px;
		$select-bul-offset-y: -735px;
		$select-bul-width: 9px;
		$select-bul-height: 5px;
		$select-bul-total-width: 805px;
		$select-bul-total-height: 746px;
		$select-bul-image: '../images/sprite.png';
		$select-bul: (172px, 735px, -172px, -735px, 9px, 5px, 805px, 746px, '../images/sprite.png', 'select-bul', );
		$select-arrow-name: 'select_arrow';
		$select-arrow-x: 434px;
		$select-arrow-y: 664px;
		$select-arrow-offset-x: -434px;
		$select-arrow-offset-y: -664px;
		$select-arrow-width: 12px;
		$select-arrow-height: 4px;
		$select-arrow-total-width: 805px;
		$select-arrow-total-height: 746px;
		$select-arrow-image: '../images/sprite.png';
		$select-arrow: (434px, 664px, -434px, -664px, 12px, 4px, 805px, 746px, '../images/sprite.png', 'select_arrow', );
		$side-bul-on-name: 'side-bul-on';
		$side-bul-on-x: 800px;
		$side-bul-on-y: 60px;
		$side-bul-on-offset-x: -800px;
		$side-bul-on-offset-y: -60px;
		$side-bul-on-width: 5px;
		$side-bul-on-height: 10px;
		$side-bul-on-total-width: 805px;
		$side-bul-on-total-height: 746px;
		$side-bul-on-image: '../images/sprite.png';
		$side-bul-on: (800px, 60px, -800px, -60px, 5px, 10px, 805px, 746px, '../images/sprite.png', 'side-bul-on', );
		$side-bul-name: 'side-bul';
		$side-bul-x: 800px;
		$side-bul-y: 120px;
		$side-bul-offset-x: -800px;
		$side-bul-offset-y: -120px;
		$side-bul-width: 5px;
		$side-bul-height: 10px;
		$side-bul-total-width: 805px;
		$side-bul-total-height: 746px;
		$side-bul-image: '../images/sprite.png';
		$side-bul: (800px, 120px, -800px, -120px, 5px, 10px, 805px, 746px, '../images/sprite.png', 'side-bul', );
		$side-list-inbox-name: 'side-list-inbox';
		$side-list-inbox-x: 800px;
		$side-list-inbox-y: 688px;
		$side-list-inbox-offset-x: -800px;
		$side-list-inbox-offset-y: -688px;
		$side-list-inbox-width: 4px;
		$side-list-inbox-height: 2px;
		$side-list-inbox-total-width: 805px;
		$side-list-inbox-total-height: 746px;
		$side-list-inbox-image: '../images/sprite.png';
		$side-list-inbox: (800px, 688px, -800px, -688px, 4px, 2px, 805px, 746px, '../images/sprite.png', 'side-list-inbox', );
		$side-list-inbox-on-name: 'side-list-inbox_on';
		$side-list-inbox-on-x: 800px;
		$side-list-inbox-on-y: 740px;
		$side-list-inbox-on-offset-x: -800px;
		$side-list-inbox-on-offset-y: -740px;
		$side-list-inbox-on-width: 4px;
		$side-list-inbox-on-height: 2px;
		$side-list-inbox-on-total-width: 805px;
		$side-list-inbox-on-total-height: 746px;
		$side-list-inbox-on-image: '../images/sprite.png';
		$side-list-inbox-on: (800px, 740px, -800px, -740px, 4px, 2px, 805px, 746px, '../images/sprite.png', 'side-list-inbox_on', );
		$side-list-li-off-name: 'side-list-li-off';
		$side-list-li-off-x: 114px;
		$side-list-li-off-y: 735px;
		$side-list-li-off-offset-x: -114px;
		$side-list-li-off-offset-y: -735px;
		$side-list-li-off-width: 8px;
		$side-list-li-off-height: 8px;
		$side-list-li-off-total-width: 805px;
		$side-list-li-off-total-height: 746px;
		$side-list-li-off-image: '../images/sprite.png';
		$side-list-li-off: (114px, 735px, -114px, -735px, 8px, 8px, 805px, 746px, '../images/sprite.png', 'side-list-li-off', );
		$side-list-li-on-name: 'side-list-li-on';
		$side-list-li-on-x: 554px;
		$side-list-li-on-y: 664px;
		$side-list-li-on-offset-x: -554px;
		$side-list-li-on-offset-y: -664px;
		$side-list-li-on-width: 8px;
		$side-list-li-on-height: 2px;
		$side-list-li-on-total-width: 805px;
		$side-list-li-on-total-height: 746px;
		$side-list-li-on-image: '../images/sprite.png';
		$side-list-li-on: (554px, 664px, -554px, -664px, 8px, 2px, 805px, 746px, '../images/sprite.png', 'side-list-li-on', );
		$sidebarbul2-name: 'sidebarbul2';
		$sidebarbul2-x: 800px;
		$sidebarbul2-y: 243px;
		$sidebarbul2-offset-x: -800px;
		$sidebarbul2-offset-y: -243px;
		$sidebarbul2-width: 4px;
		$sidebarbul2-height: 8px;
		$sidebarbul2-total-width: 805px;
		$sidebarbul2-total-height: 746px;
		$sidebarbul2-image: '../images/sprite.png';
		$sidebarbul2: (800px, 243px, -800px, -243px, 4px, 8px, 805px, 746px, '../images/sprite.png', 'sidebarbul2', );
		$sns-off-name: 'sns-off';
		$sns-off-x: 657px;
		$sns-off-y: 160px;
		$sns-off-offset-x: -657px;
		$sns-off-offset-y: -160px;
		$sns-off-width: 27px;
		$sns-off-height: 32px;
		$sns-off-total-width: 805px;
		$sns-off-total-height: 746px;
		$sns-off-image: '../images/sprite.png';
		$sns-off: (657px, 160px, -657px, -160px, 27px, 32px, 805px, 746px, '../images/sprite.png', 'sns-off', );
		$sns-on-name: 'sns-on';
		$sns-on-x: 657px;
		$sns-on-y: 242px;
		$sns-on-offset-x: -657px;
		$sns-on-offset-y: -242px;
		$sns-on-width: 27px;
		$sns-on-height: 32px;
		$sns-on-total-width: 805px;
		$sns-on-total-height: 746px;
		$sns-on-image: '../images/sprite.png';
		$sns-on: (657px, 242px, -657px, -242px, 27px, 32px, 805px, 746px, '../images/sprite.png', 'sns-on', );
		$step-final-name: 'step-final';
		$step-final-x: 0px;
		$step-final-y: 308px;
		$step-final-offset-x: 0px;
		$step-final-offset-y: -308px;
		$step-final-width: 63px;
		$step-final-height: 46px;
		$step-final-total-width: 805px;
		$step-final-total-height: 746px;
		$step-final-image: '../images/sprite.png';
		$step-final: (0px, 308px, 0px, -308px, 63px, 46px, 805px, 746px, '../images/sprite.png', 'step-final', );
		$step-next-name: 'step-next';
		$step-next-x: 293px;
		$step-next-y: 308px;
		$step-next-offset-x: -293px;
		$step-next-offset-y: -308px;
		$step-next-width: 43px;
		$step-next-height: 33px;
		$step-next-total-width: 805px;
		$step-next-total-height: 746px;
		$step-next-image: '../images/sprite.png';
		$step-next: (293px, 308px, -293px, -308px, 43px, 33px, 805px, 746px, '../images/sprite.png', 'step-next', );
		$step-prev-name: 'step-prev';
		$step-prev-x: 386px;
		$step-prev-y: 308px;
		$step-prev-offset-x: -386px;
		$step-prev-offset-y: -308px;
		$step-prev-width: 43px;
		$step-prev-height: 33px;
		$step-prev-total-width: 805px;
		$step-prev-total-height: 746px;
		$step-prev-image: '../images/sprite.png';
		$step-prev: (386px, 308px, -386px, -308px, 43px, 33px, 805px, 746px, '../images/sprite.png', 'step-prev', );
		$sub-menu-select-name: 'sub-menu-select';
		$sub-menu-select-x: 63px;
		$sub-menu-select-y: 664px;
		$sub-menu-select-offset-x: -63px;
		$sub-menu-select-offset-y: -664px;
		$sub-menu-select-width: 14px;
		$sub-menu-select-height: 14px;
		$sub-menu-select-total-width: 805px;
		$sub-menu-select-total-height: 746px;
		$sub-menu-select-image: '../images/sprite.png';
		$sub-menu-select: (63px, 664px, -63px, -664px, 14px, 14px, 805px, 746px, '../images/sprite.png', 'sub-menu-select', );
		$sub-nav-3rd-bul-name: 'sub-nav_3rd_bul';
		$sub-nav-3rd-bul-x: 664px;
		$sub-nav-3rd-bul-y: 664px;
		$sub-nav-3rd-bul-offset-x: -664px;
		$sub-nav-3rd-bul-offset-y: -664px;
		$sub-nav-3rd-bul-width: 2px;
		$sub-nav-3rd-bul-height: 2px;
		$sub-nav-3rd-bul-total-width: 805px;
		$sub-nav-3rd-bul-total-height: 746px;
		$sub-nav-3rd-bul-image: '../images/sprite.png';
		$sub-nav-3rd-bul: (664px, 664px, -664px, -664px, 2px, 2px, 805px, 746px, '../images/sprite.png', 'sub-nav_3rd_bul', );
		$thrd-menu-name: 'thrd-menu';
		$thrd-menu-x: 800px;
		$thrd-menu-y: 530px;
		$thrd-menu-offset-x: -800px;
		$thrd-menu-offset-y: -530px;
		$thrd-menu-width: 5px;
		$thrd-menu-height: 2px;
		$thrd-menu-total-width: 805px;
		$thrd-menu-total-height: 746px;
		$thrd-menu-image: '../images/sprite.png';
		$thrd-menu: (800px, 530px, -800px, -530px, 5px, 2px, 805px, 746px, '../images/sprite.png', 'thrd-menu', );
		$title-name: 'title';
		$title-x: 0px;
		$title-y: 0px;
		$title-offset-x: 0px;
		$title-offset-y: 0px;
		$title-width: 190px;
		$title-height: 45px;
		$title-total-width: 805px;
		$title-total-height: 746px;
		$title-image: '../images/sprite.png';
		$title: (0px, 0px, 0px, 0px, 190px, 45px, 805px, 746px, '../images/sprite.png', 'title', );
		$top-banner-next-name: 'top-banner-next';
		$top-banner-next-x: 0px;
		$top-banner-next-y: 404px;
		$top-banner-next-offset-x: 0px;
		$top-banner-next-offset-y: -404px;
		$top-banner-next-width: 48px;
		$top-banner-next-height: 48px;
		$top-banner-next-total-width: 805px;
		$top-banner-next-total-height: 746px;
		$top-banner-next-image: '../images/sprite.png';
		$top-banner-next: (0px, 404px, 0px, -404px, 48px, 48px, 805px, 746px, '../images/sprite.png', 'top-banner-next', );
		$top-banner-prev-name: 'top-banner-prev';
		$top-banner-prev-x: 98px;
		$top-banner-prev-y: 404px;
		$top-banner-prev-offset-x: -98px;
		$top-banner-prev-offset-y: -404px;
		$top-banner-prev-width: 48px;
		$top-banner-prev-height: 48px;
		$top-banner-prev-total-width: 805px;
		$top-banner-prev-total-height: 746px;
		$top-banner-prev-image: '../images/sprite.png';
		$top-banner-prev: (98px, 404px, -98px, -404px, 48px, 48px, 805px, 746px, '../images/sprite.png', 'top-banner-prev', );
		$total-count-bul-name: 'total-count-bul';
		$total-count-bul-x: 800px;
		$total-count-bul-y: 418px;
		$total-count-bul-offset-x: -800px;
		$total-count-bul-offset-y: -418px;
		$total-count-bul-width: 1px;
		$total-count-bul-height: 10px;
		$total-count-bul-total-width: 805px;
		$total-count-bul-total-height: 746px;
		$total-count-bul-image: '../images/sprite.png';
		$total-count-bul: (800px, 418px, -800px, -418px, 1px, 10px, 805px, 746px, '../images/sprite.png', 'total-count-bul', );
		$visual-next-name: 'visual_next';
		$visual-next-x: 306px;
		$visual-next-y: 185px;
		$visual-next-offset-x: -306px;
		$visual-next-offset-y: -185px;
		$visual-next-width: 17px;
		$visual-next-height: 17px;
		$visual-next-total-width: 805px;
		$visual-next-total-height: 746px;
		$visual-next-image: '../images/sprite.png';
		$visual-next: (306px, 185px, -306px, -185px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_next', );
		$visual-next2-name: 'visual_next2';
		$visual-next2-x: 483px;
		$visual-next2-y: 502px;
		$visual-next2-offset-x: -483px;
		$visual-next2-offset-y: -502px;
		$visual-next2-width: 17px;
		$visual-next2-height: 17px;
		$visual-next2-total-width: 805px;
		$visual-next2-total-height: 746px;
		$visual-next2-image: '../images/sprite.png';
		$visual-next2: (483px, 502px, -483px, -502px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_next2', );
		$visual-pause-name: 'visual_pause';
		$visual-pause-x: 571px;
		$visual-pause-y: 430px;
		$visual-pause-offset-x: -571px;
		$visual-pause-offset-y: -430px;
		$visual-pause-width: 22px;
		$visual-pause-height: 22px;
		$visual-pause-total-width: 805px;
		$visual-pause-total-height: 746px;
		$visual-pause-image: '../images/sprite.png';
		$visual-pause: (571px, 430px, -571px, -430px, 22px, 22px, 805px, 746px, '../images/sprite.png', 'visual_pause', );
		$visual-pause2-name: 'visual_pause2';
		$visual-pause2-x: 550px;
		$visual-pause2-y: 502px;
		$visual-pause2-offset-x: -550px;
		$visual-pause2-offset-y: -502px;
		$visual-pause2-width: 17px;
		$visual-pause2-height: 17px;
		$visual-pause2-total-width: 805px;
		$visual-pause2-total-height: 746px;
		$visual-pause2-image: '../images/sprite.png';
		$visual-pause2: (550px, 502px, -550px, -502px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_pause2', );
		$visual-play-name: 'visual_play';
		$visual-play-x: 484px;
		$visual-play-y: 332px;
		$visual-play-offset-x: -484px;
		$visual-play-offset-y: -332px;
		$visual-play-width: 22px;
		$visual-play-height: 22px;
		$visual-play-total-width: 805px;
		$visual-play-total-height: 746px;
		$visual-play-image: '../images/sprite.png';
		$visual-play: (484px, 332px, -484px, -332px, 22px, 22px, 805px, 746px, '../images/sprite.png', 'visual_play', );
		$visual-play2-name: 'visual_play2';
		$visual-play2-x: 156px;
		$visual-play2-y: 586px;
		$visual-play2-offset-x: -156px;
		$visual-play2-offset-y: -586px;
		$visual-play2-width: 17px;
		$visual-play2-height: 17px;
		$visual-play2-total-width: 805px;
		$visual-play2-total-height: 746px;
		$visual-play2-image: '../images/sprite.png';
		$visual-play2: (156px, 586px, -156px, -586px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_play2', );
		$visual-prev-name: 'visual_prev';
		$visual-prev-x: 223px;
		$visual-prev-y: 586px;
		$visual-prev-offset-x: -223px;
		$visual-prev-offset-y: -586px;
		$visual-prev-width: 17px;
		$visual-prev-height: 17px;
		$visual-prev-total-width: 805px;
		$visual-prev-total-height: 746px;
		$visual-prev-image: '../images/sprite.png';
		$visual-prev: (223px, 586px, -223px, -586px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_prev', );
		$visual-prev2-name: 'visual_prev2';
		$visual-prev2-x: 290px;
		$visual-prev2-y: 586px;
		$visual-prev2-offset-x: -290px;
		$visual-prev2-offset-y: -586px;
		$visual-prev2-width: 17px;
		$visual-prev2-height: 17px;
		$visual-prev2-total-width: 805px;
		$visual-prev2-total-height: 746px;
		$visual-prev2-image: '../images/sprite.png';
		$visual-prev2: (290px, 586px, -290px, -586px, 17px, 17px, 805px, 746px, '../images/sprite.png', 'visual_prev2', );

	$spritesheet-width: 805px;
	$spritesheet-height: 746px;
	$spritesheet-image: '../images/sprite.png';
	$spritesheet-sprites: ($a-icon, $all-menu-btn-close, $all-menu-btn, $all-menu-close, $bbs-more, $check-type, $check-type2-on, $check-type2, $check-type3-on, $confirm, $copy-li-bg, $copy-li-bg2, $down-icon1, $down-icon2, $foot-img, $footer-select-bul, $h3-type1, $h4-bul, $header-search-btn, $home, $home02, $ico-roll-left, $ico-roll-pause, $ico-roll-plus, $ico-roll-right, $ico-roll-start, $icon-print, $icon-url, $info-icon, $join-icon-1, $join-icon-2, $join-step-next, $join-step-now, $list-bul, $list-bul2, $location-icon, $location-icon2, $login-bul, $main-visual-next, $main-visual-prev, $menu-open, $menu-search, $mobile-bul-minus, $mobile-bul-plus, $mobile-close, $nav-3rd-bul, $newsns-b-on, $newsns-b, $newsns-f-on, $newsns-f, $newsns-ks-on, $newsns-ks, $newsns-kt-on, $newsns-kt, $newsns-tw-on, $newsns-tw, $open-close, $open-done, $open-icon, $open-icon2, $q-icon, $radio-off, $radio-on, $radio-type-off, $radio-type-on, $search-btn, $search-close, $second-menu, $select-bul, $select-arrow, $side-bul-on, $side-bul, $side-list-inbox, $side-list-inbox-on, $side-list-li-off, $side-list-li-on, $sidebarbul2, $sns-off, $sns-on, $step-final, $step-next, $step-prev, $sub-menu-select, $sub-nav-3rd-bul, $thrd-menu, $title, $top-banner-next, $top-banner-prev, $total-count-bul, $visual-next, $visual-next2, $visual-pause, $visual-pause2, $visual-play, $visual-play2, $visual-prev, $visual-prev2, );
	$spritesheet: (805px, 746px, '../images/sprite.png', $spritesheet-sprites, );
